@import vars
@import fonts
@import libs
@import global

.main
	position: relative
	height: 100vh
	&-bcpd
		height: 100%
		padding-top: 60px
		.main-slider__item-img
			height: 100%
	&-slider
		position: relative
		&__item
			position: relative
			&-img
				position: relative
				height: 100vh
				img
					width: 100%
				&:after
					content: ""
					position: absolute
					left: 0
					top: 0
					width: 100% 
					height: 100%
					background-color: #34495E
					opacity: .5
	&-caption
		position: absolute
		top: 50% 
		transform: translateY(-50%)
		width: 100%
		max-width: 950px
		color: #fff
		margin-left: 150px
		&__title
			font-size: 45px
			line-height: 45px
			margin-bottom: 16px
			font-weight: 700
		&__subtitle
			font-size: 34px
		&__link
			padding: 12px 0
			max-width: 152px
			border: 1px solid rgba(255, 255, 255, .5)
			text-align: center
			cursor: pointer
			transition: all .5s ease
			a
				font-size: 14px
				font-weight: 600
				color: #fff
				text-transform: uppercase
			&:hover
				background-color: #007680
				border-color: #007680
			&_blue
				border: 1px solid #008EAA
				a
					color: #008EAA
				&:hover
					background: #008EAA
					border-color: #008EAA
					a
						color: #fff
			&_violet
				border: 1px solid #5C068C
				a
					color: #5C068C
				&:hover
					background: #5C068C
					border-color: #5C068C
					a
						color: #fff
			&_green
				border: 1px solid #009945
				margin-top: 25px
				a
					color: #009945
				&:hover
					background: #009945
					border-color: #009945
					a
						color: #fff


ul.accordion img
	width: 600px
	height: auto

ul.accordion
	display: flex
	justify-content: space-between
	margin-top: 30px
	padding: 0

ul.accordion li
	width: 220px
	overflow: hidden
	cursor: pointer
	padding: 1px 1px 0
	display: block
	transition: all 1.5s

ul.accordion li:hover
	width: 600px
	transition: all 1s


ul.accordion li:nth-child(1)
	width: 600px

ul.accordion:hover li:nth-child(1)
	width: 220px

ul.accordion li:nth-child(1):hover
	width: 600px

.grid
	&-container
		max-width: 1200px
		margin: 0 auto
		padding: 0 15px
	&-layout
		margin-top: 32px
		min-height: 600px
.online
	&-block
		&__text
			margin-top: 32px
			p
				font-size: 24px
				margin-bottom: 40px

.slick-pagination
	max-height: 380px!important
	min-height: 380px!important
	max-width: 320px!important
	min-width: 320px!important
	.slick-prev
		display: none!important
.container-fluid
	display: flex
	justify-content: space-between
	align-items: center
.slick-dotted.slick-slider
	margin-bottom: 0
.news-block
	.slick-dots
		margin-left: 0
		order: 1
		&:before
			background-color: #008EAA
		li button
			background-color: rgba(#007680, .5)
		li.slick-active button
			background-color: #008EAA

.news_violet .news-block
	.slick-dots
		margin-left: 0
		&:before
			background-color: rgba(#5C068C, .5)
		li button
			background-color: rgba(#5C068C, .5)
		li.slick-active button
			background-color: #5C068C

.news_green .news-block
	.slick-dots
		margin-left: 0
		&:before
			background-color: rgba(#009945, .5)
		li button
			background-color: rgba(#009945, .5)
		li.slick-active button
			background-color: #009945

.slick-dots
	width: 100%
	bottom: 0
	left: 0
	text-align: left
	padding-left: 184px
	display: flex
	justify-content: flex-start
	align-items: center
	&:before
		content: ""
		height: 1px
		position: absolute
		top: 50%
		transform: translateY(-50%) 
		left: 0
		width: 152px
		background-color: rgba(255, 255, 255, .5)
.slick-dots li button:before 
    position: absolute
    top: 0
    left: 0
    content: ""
    width: 20px
    height: 20px
    font-family: slick
    font-size: 6px
    line-height: 20px
    text-align: center
    color: #000
    opacity: .25
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
.slick-dots li
	display: flex
	align-items: center
.slick-dots li.slick-active button
	height: 12px
	width: 12px
.slick-dots li button
	background-color: rgba(#fff, .8)
	border-radius: 50%
	height: 8px
	width: 8px
	transition: all .5 ease
 .slick-dots.slick-active button
    background-color: #FECC02
.navbar
	border-radius: 0
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover
	background: none
.nav>li>a:focus, .nav>li>a:hover 
	background: none
.navbar
	margin-bottom: 0
	display: flex

.header
	transition: all 200ms linear
	border-bottom: 1px solid #fff
	min-height: 80px
	max-height: 80px
	position: fixed
	left: 0
	z-index: 777
	width: 100%
	display: grid
	&_btn
		background-color: rgba(0, 118, 128, 0.53)
		text-align: center
		padding: 12px 16px
		max-width: 180px
		a
            color: #fff
            text-transform: uppercase
            font-size: 14px
            font-weight: 600
	&__search
		.fa
			color: #fff
			font-size: 15px
		&_grey
			.fa
				color: rgba(0, 37, 84, 0.3)
		&_red
			.fa
				color: rgba(213, 0, 50, 0.3)
		&_green
			.fa
				color: rgba(0, 153, 69, 0.3)
		&_violet
			.fa
				color: rgba(86, 37, 131, 0.3)
	&_white
		background-color: #fff
		border-bottom: 1px solid rgba(#002554, .1)

.navbar-header
	display: flex
	justify-content: space-between
	align-items: center
.fixed-top.scrolled
	background-color: #002554!important
	opacity: .96
	border-bottom: none
	transition: .2s all ease

.fixed-top--white.scrolled_white
    opacity: .96
    border-bottom: none
.site-block__text
	&_grey
		p
			font-size: 16px
			color: rgba(#fff, .7)
			margin-top: 32px
.container-nav
	padding: 60px
	margin: 0 auto

//social
.social
	a
		.fa
			color: #fff
	&_grey
		a
			.fa

				color: rgba(0, 37, 84, 0.3)
	&_red
		a
			.fa

				color: rgba(213, 0, 50, 0.3)
	&_green
		a
			.fa

				color: rgba(0, 153, 69, 0.3)
	&_violet
		a
			.fa

				color: rgba(86, 37, 131, 0.3)

//subsection
.site-subsection__item
	max-height: 85px
	display: flex
	align-items: center
.subsection
	&-logo
		a
			color: #fff
			font-size: 24px 
			margin-bottom: 10px
			img
				margin-right: 8px
	&-name
		p
			font-size: 16px
			color: rgba(#fff, .7)
			margin-bottom: 16px
	&-border
		border-right: 1px solid rgba(#fff, .3)
	&-b
		padding-left: 64px
.site-menu__link:hover
	border-bottom: 2px solid #fff
.subsection
	&_news
		img 
			width: 100%
			height: auto
		a
			font-size: 16px

.subsection_title-block
	p
		font-size: 14px
		color: rgba(#fff, .7)
		text-transform: uppercase
		margin-bottom: 16px
//post 
#next
	position: absolute
	bottom: 0
	right: 0
	width: 24px
	height: 24px
	outline: none
	background: transparent
	border: none
	cursor: pointer
	z-index: 7

section.post-item
	padding: 30px 0
	min-height: 77px
.post
	&-item
		margin-top: 80px
		&__title
			font-weight: 400
			font-size: 14px
			line-height: 19px
			color: rgba(0, 0, 0, 0.5)
			max-width: 561px
			overflow: hidden
	&-more
		&__text
			text-align: left
			margin: 15px 0 32px 0
			p
				font-size: 17px
				color: #fff
		&__img
			img
				width: 100%
				height: auto
		&__btn
			text-align: center
			width: 100%
			padding: 15px 0
			background-color: lighten(#007680, 5%)
			a
				text-transform: uppercase
				color: rgba(255, 255, 255, 0.75)
				width: 100%
				padding: 15px 0
	&-items
		margin-top: -60px
		padding: 32px 0 32px 32px
		background-color: #007680
		position: relative
	&-img
		img
			width: 100% 
			height: auto
	&-block
		padding: 0
		z-index: 777
		margin-bottom: 60px
		.col-xl-3, .col-xl-9, .col-xl-12, .col-xl-4
			padding: 0
	&-content
		padding: 40px 40px 126px 40px
		background-color: #f0f8fa
		margin-top: -160px
		&__title
			.h2
				font-weight: 400
				font-size: 36px
				line-height: 49px
				color: #171717
				position: relative
				padding-bottom: 16px
				&::before
					content: ""
					height: 1px
					position: absolute
					bottom: 0
					left: 0
					width: 32px
					background-color: $text
		&__text
			p
				font-size: 17px
				color: $text
				margin: 20px 0
		&__img
			img
				width: 100%
				height: auto
			iframe
				min-height: 315px

//objectives
.objectives
	&-items
		padding: 16px 0 0 0 
		&__btn
			background-color: transparent
			a
				text-transform: none
				color: #fff
				font-size: 21px
				font-weight: 500
			&_active
				background-color: lighten($accent, 5%)
				
//management
.management
	&-content
		padding-bottom: 60px
	&-blocks
		margin-top: 60px
		display: flex
		justify-content: flex-start
		&__btn
			border: 1px solid $accent
			padding: 12px
			a
				color: $accent
				font-size: 17px
				text-transform: uppercase
				font-weight: 500
			&_active
				background-color: $accent
				a 
					color: #fff
	&-item
		&:nth-child(4)
			margin: 0
		margin: 32px 8px 0 0
		img
			width: 100%
		&__title
			h3
				font-size: 14px
				text-transform: uppercase
				font-weight: 500
				color: #002554
				margin-top: 14px
		&__subtitle
			p
				font-size: 12px
				font-weight: 400
				color: rgba(#002554, .6)
				margin-top: 5px
				margin-bottom: 0
	&__link
		border: 1px solid #008EAA
		margin: 0
		margin-top: 32px
		a
			color: #008EAA

//press
.press
	&-item
		margin-top: 32px
		&__img
			img
				width: 100%
		&__date
			p
				font-size: 14px
				color: rgba(0, 0, 0, .5)
				text-transform: uppercase
		&__title 
			h3
				font-size: 21px
				color: #000
				font-weight: 500
		&__subtitle
			p
				font-weight: 17px
				color: #000 
//about
	
.about
	background-image: url('../../img/about_bg.png')
	background-position: top center 
	background-repeat: no-repeat
	background-size: contain
	padding: 80px
	&-text
		margin-top: 32px
		&:nth-child(2)
			margin-bottom: 64px
		p
			font-size: 24px
			letter-spacing: 4%
	&-statistics
		border-right: 1px solid #D7D7D7
		&_number
			color: $accent
			font-size: 56px
			font-weight: 600
		&_block
			margin-right: 70px
	&-subtext
		padding-left: 69px
		display: flex
		justify-content: space-between
		&_block
			&:first-child
				margin-right: 10px

//coming
.coming
	padding-bottom: 64px
	padding-top: 80px
	background-color: #002554
	&-block
		&__text
			max-height: 120px
			min-height: 120px
			p
				font-size: 14px
				color: rgba(255, 255, 255, 0.5)
				margin-top: 20px
			a
				font-size: 21px
				color: #fff

.slide-m-dots
	position: absolute
	display: flex
	justify-content: space-between
	bottom: -80px
	z-index: 777

//expat
.header
	&_green
		background-color: #E6F5ED
	&_violet
		background-color: #EFE7F4
	&_red
		background-color: #FCE7EB
.expat
	&-img
		margin-top: 80px
//team
.team
	padding-bottom: 60px
	&-block
		&__img
			margin-bottom: 16px
			position: relative
			img
				width: 100%
				height: auto
		&__name
			h3
				font-size: 17px
				font-weight: 700
				margin-bottom: 5px
		&__job
			p
				font-size: 14px
				color: #000 
				margin-bottom: 5px
		&__place
			p
				font-size: 14px
				color: #777
		&-item
			text-align: center
			margin: 0 16px
			position: relative
.profile-block
	display: flex
	justify-content: space-around
	background-color: #EFE7F4
	padding: 13px 0
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	a
		text-transform: uppercase
		color: #5C068C

.service
	padding: 78px 0
	&-btn
		max-width: 100%
	&-item
		background-color: #E6F5ED
		margin-top: 32px
		&-block
			padding: 47px 32px
		&__text
			p
				display: block
				min-height: 189px
		
		&__img
			img
				width: 100%
				height: auto
		&__title
			h3
				font-size: 17px
				font-weight: 700
//news

.row5
	--rows: 5

.rows3
	--rows: 3

.rows2
	--rows: 2


.cols2
	--cols: 2

.activities-block
	position: relative

.activities-block__text
	position: absolute
	top: 48px
	left: 48px
	p
		font-size: 24px
		color: #fff
		font-weight: 400
		max-width: 90px

.news
	padding: 32px 0
	background-image: url('../img/news/news_bg.png')
	background-position: top center
	background-size: contain
	background-repeat: no-repeat
	position: relative
	&_violet
		background-image: url('../img/news/news_violet.png')
	&-btn
		margin-top: 32px
	&-block
		margin-top: 32px
		&__img
			img
				width: 100%
		&__text
			p
				font-weight: normal
				font-size: 14px
				line-height: 19px
				text-transform: uppercase
				color: rgba(0, 0, 0, 0.5)
				margin: 21px 0 10px 0
			h3
				font-weight: normal
				font-size: 17px
				line-height: 23px
				color: $text
		&-item
			margin-right: 16px
		&__mg
			margin-left: 18%
	.slick-list
		overflow: visible

.sub-menu
	position: absolute
	background: #002554
	width: 100%
	top: 100%
	left: 0
	padding: 50px 0 120px 0
	transition: all 200ms linear
	display: none
	z-index: 777
	&_active
		display: block
		transition: all 25s linear
.l 
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  grid-auto-rows: 1fr
  grid-gap: 10px
  grid-auto-flow: dense
  margin-top: 32px
  img
	  width: 100%
	  height: 100%



.i 
  grid-row-end: span var(--rows)
  grid-column-end: span var(--cols)
  background-color: var(--bg)

.activities
	padding-bottom: 64px
//footer
.footer
	padding: 53px 0
	&_bg
		background: url(../img/footer.png)
		background-position: center top
		background-size: cover
		background-repeat: no-repeat
	&-contacts
        a
            color: $accent
            font-weight: 600
            padding: 0 16px 
            &:first-child
                border-right: 1px solid $accent
                padding-left: 0
	&-logo
		&__text
			color: #8A8D8F 

	
.expat__logo .logo_link
	img
		width: 100%
		height: auto
.news-container
	margin-left: 21% 
.subscribe
    width: 100%
    margin: 25px 0
    input[type="email"]
        border: 1px solid $accent
        padding: 12px 0 12px 12px
        width: 70%
        max-width: 398px
        margin-right: 16px
        &::placeholder
            color: $accent
            font-weight: 600
            font-size: 14px
            text-transform: uppercase
    button
        border: 1px solid $accent
        padding: 12px  0
        background-color: transparent
        color: $accent
        width: 27%
        font-weight: 600
        transition: all .25s ease
        &:hover
            background-color: $accent
            color: #fff
    &_form
        display: flex
        justify-content: space-between
        flex-wrap: wrap
.main-menu
	display: flex
	justify-content: space-between
.header-line
	justify-content: space-around
.nice-select.open, .nice-select:active, .nice-select:focus
	border: none
	
.lang-choose
	background-color: transparent
	border: none
	font-weight: 700
	.current
		color: #fff
	&_black
		.current
			color: #002554
	.nice-select:after 
		border-bottom: 2px solid #002554
		border-right: 2px solid #002554
.nice-select .list
	margin-top: 0

.nice-select:after 
	border-bottom: 2px solid #fff
	border-right: 2px solid #fff
.header-lang_black
	.nice-select:after 
		border-bottom: 2px solid #002554
		border-right: 2px solid #002554

//hamburger


.header
	transition: all .2s ease
	&_btn
		background-color: $accent
		text-align: center
		padding: 12px 16px
		max-width: 180px
		a
            color: #fff
            text-transform: uppercase
            font-size: 14px
            font-weight: 600
	&__search
		.fa
			color: #fff
			font-size: 15px
		&_grey
			.fa
				color: rgba(0, 37, 84, 0.3)
		&_red
			.fa
				color: rgba(213, 0, 50, 0.3)
		&_green
			.fa
				color: rgba(0, 153, 69, 0.3)
		&_violet
			.fa
				color: rgba(86, 37, 131, 0.3)
	&_white
		background-color: #fff
		border-bottom: 1px solid rgba(#002554, .1)
	&_black
		background-color: #002554

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] 
   margin-bottom: 1rem

.navbar .dropdown-menu,
  border: none!important
  background-color: #002554!important
  padding: 50px 62px


.dropdown-toggle::after
	display: none

.navbar-dark .navbar-nav .nav-link
	text-transform: uppercase
	color: #fff


  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar 
  transition: all 200ms linear
  border-bottom: 1px solid #fff
  padding: 0 60px


/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item 
  padding: .5rem .5rem


/* makes the dropdown full width  */
.navbar .dropdown 
	position: static

.navbar .dropdown-menu 
  width: 100%
  left: 0
  right: 0
  top: 90%

  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover 
  display: block!important


.navbar .dropdown-menu 
    border: 1px solid rgba(0,0,0,.15)
    background-color: #fff
  



.main-collapse
	justify-content: space-around

.main-menu
	display: flex
	justify-content: space-between

.nice-select.open, .nice-select:active, .nice-select:focus
	border: none
	
.lang-choose
	background-color: transparent
	border: none
	font-weight: 700
	.current
		color: #fff
	&_black
		.current
			color: #002554
	.nice-select:after 
		border-bottom: 2px solid #002554
		border-right: 2px solid #002554
.nice-select .list
	margin-top: 0

.nice-select:after 
	border-bottom: 2px solid #fff
	border-right: 2px solid #fff
.header-lang_black
	.nice-select:after 
		border-bottom: 2px solid #002554
		border-right: 2px solid #002554

.social
	a
		margin-right: 14px
		.fa
			color: #fff
	&_grey
		a
			.fa

				color: rgba(0, 37, 84, 0.3)
	&_red
		a
			.fa

				color: rgba(213, 0, 50, 0.3)
	&_green
		a
			.fa

				color: rgba(0, 153, 69, 0.3)
	&_violet
		a
			.fa

				color: rgba(86, 37, 131, 0.3)


.site
	&-block
		&-title
			h2
				font-size: 20px
				text-transform: uppercase
				font-weight: 400
				position: relative
				padding-bottom: 16px
				&::before
					content: ""
					height: 1px
					position: absolute
					bottom: 0
					left: 0
					width: 32px
					background-color: $text
			&--white
				color: #fff
				h2
					&::before
						background-color: #fff
	&-menu
		ul
			li
				a
					text-transform: uppercase
					color: #fff
		&_black
			ul
				li
					a
						color: #002554
						font-weight: 700
		&_footer
			ul
				li
					margin-right: 0
	&-wrapper
		width: 1320px
		margin: 0 auto
		padding: 0 10px


.site-block__text
	&_grey
		p
			font-size: 16px
			color: rgba(#fff, .7)
			margin-top: 32px

//subsection
.site-subsection__item
	max-height: 85px
	display: flex
	align-items: center
.subsection
	&-logo
		a
			color: #fff
			font-size: 24px 
			margin-bottom: 10px
			img
				margin-right: 8px
	&-name
		p
			font-size: 16px
			color: rgba(#fff, .7)
			margin-bottom: 16px
	&-border
		border-right: 1px solid rgba(#fff, .3)
	&-b
		padding-left: 64px
	&-news
		display: flex
		align-items: center
		a
			font-size: 16px
			margin-left: 25px

		
	
	&_title-block
		p
			font-size: 14px
			color: rgba(#fff, .7)
			text-transform: uppercase
			margin-bottom: 16px

.hamburger
	padding: 0 10px
	outline: none

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	background-color: #fff
	width: 25px
	height: 2px
.hamburger-inner_black, .hamburger-inner_black::after, .hamburger-inner_black::before
	background-color: #002554

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before
	background-color: #fff

.hamburger.is-active .hamburger-inner_black, .hamburger.is-active .hamburger-inner_black:after, .hamburger.is-active .hamburger-inner_black:before
	background-color: #002554
.main-sub_small
	font-size: 24px

/* Descendant of .nav, Bootstrap specificity (shouldn't be like this)

.nav > .dropdown-megamenu
  position: static

@media (max-width: 767px)
  .navbar-nav .open .dropdown-container
    position: static
    float: none
    width: auto
    margin-top: 0
    border: 0
    box-shadow: none
    border-radius: 0

.dropdown-megamenu
  > .dropdown-container
	  position: absolute
	  top: 100%
	  left: -2px
	  right: -2px
	  max-width: 100vw
	  padding: 54px 0 120px 0
	  background-color: rgba(0, 37, 84, 1)
	  border: none
	  border-radius: 0
	  margin: 0
	  box-shadow: none
	  width: 100vw


  .dropdown-menu
    display: block

.link-image .media-object
  float: left
  margin-bottom: 7.5px

.link-image-sm + .link-image-sm .media-object
  margin-left: 7.5px

.thumbnail
  .caption
    min-height: 120px

  &:hover
    text-decoration: none

/* Link list

.list-links
  list-style: none
  padding: 0

  li
    line-height: 1.7142857148

  a
    color: #555555
    &:hover, &:focus, &:active
		color: #22527b



.navbar .dropdown-menu div[class*="col"] 
	margin-bottom: 1rem



/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) 
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar 
 padding-top: 0px
 padding-bottom: 0px


/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item 
 padding: .5rem .5rem
 margin: 0 .25rem



.navbar .dropdown
	position: static

 .navbar .dropdown-menu 
 width: 100%
 left: 0
 right: 0
  top: 45px

  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover 
 display: block!important

 .navbar .dropdown-menu 
 border: 1px solid rgba(0, 0, 0, .15)
 background-color: #fff


.nav.nav-tabs 
	float: left
	display: block
	margin-right: 20px
	border-bottom: 0
	border-right: 1px solid #ddd
	padding-right: 15px

.nav-tabs .nav-link 
	border: 1px solid transparent
 border-top-left-radius: .25rem
 border-top-right-radius: .25rem
	background: #ccc

.nav-tabs .nav-link.active 
	color: #495057
	background-color:#007bff !important
	border-color: transparent !important

.nav-tabs .nav-link 
	border: 1px solid transparent
	border-top-left-radius: 0rem!important
	border-top-right-radius: 0rem!important

.tab-content>.active 
	display: block
	background: #007bff
	min-height: 165px

.nav.nav-tabs 
	float: left
	display: block
	margin-right: 20px
	border-bottom: 0
	border-right: 1px solid transparent
	padding-right: 15px
ul
	padding: 0
	margin: 0
	li
		list-style: none
button
	&:active, &:hover, &:focus
		outline: none
a, a:hover, a:focus
	text-decoration: none
	outline: none
	
.navbar .dropdown-menu div[class*="col"]
	  margin-bottom: 1rem
	  border: none
	  background-color: #002554 !important
.navbar
	padding: .5rem 6rem
	min-height: 60px
.collapse .navbar-collapse
	min-height: 60px
.navbar-nav
	min-height: 60px
.nav-item
	margin: 0
.navbar-dark .navbar-nav .nav-link
	text-transform: uppercase
	color: #fff
	min-height: 60px
	line-height: 60px

.dropdown-menu
	border: none
	background-color: #002554
	padding: 50px
.dropdown-toggle::after
	display: none

.navbar-brand
	padding: 0
.header
	transition: all .2s ease
	&_btn
		background-color: $accent
		text-align: center
		padding: 12px 16px
		max-width: 180px
		a
            color: #fff
            text-transform: uppercase
            font-size: 14px
            font-weight: 600
	&__search
		.fa
			color: #fff
			font-size: 15px
		&_grey
			.fa
				color: rgba(0, 37, 84, 0.3)
		&_red
			.fa
				color: rgba(213, 0, 50, 0.3)
		&_green
			.fa
				color: rgba(0, 153, 69, 0.3)
		&_violet
			.fa
				color: rgba(86, 37, 131, 0.3)
	&_white
		background-color: #fff
		border-bottom: 1px solid rgba(#002554, .1)
	&_black
		background-color: #002554

.nice-select.open, .nice-select:active, .nice-select:focus
	border: none
	
.lang-choose
	background-color: transparent
	border: none
	font-weight: 700
	.current
		color: #fff
	&_black
		.current
			color: #002554
	.nice-select:after 
		border-bottom: 2px solid #002554
		border-right: 2px solid #002554
.nice-select .list
	margin-top: 0

.nice-select:after 
	border-bottom: 2px solid #fff
	border-right: 2px solid #fff
.header-lang_black
	.nice-select:after 
		border-bottom: 2px solid #002554
		border-right: 2px solid #002554

.social
	a
		margin-right: 14px
		.fa
			color: #fff
	&_grey
		a
			.fa

				color: rgba(0, 37, 84, 0.3)
	&_red
		a
			.fa

				color: rgba(213, 0, 50, 0.3)
	&_green
		a
			.fa

				color: rgba(0, 153, 69, 0.3)
	&_violet
		a
			.fa

				color: rgba(86, 37, 131, 0.3)
.site
	&-block
		&-title
			h2
				font-size: 20px
				text-transform: uppercase
				font-weight: 400
				position: relative
				padding-bottom: 16px
				&::before
					content: ""
					height: 1px
					position: absolute
					bottom: 0
					left: 0
					width: 32px
					background-color: $text
			&--white
				color: #fff
				h2
					&::before
						background-color: #fff
	&-menu
		ul
			li
				a
					text-transform: uppercase
					color: #fff
		&_black
			ul
				li
					a
						color: #002554
						font-weight: 700
		&_footer
			ul
				li
					margin-right: 0
	&-wrapper
		width: 1320px
		margin: 0 auto
		padding: 0 10px


.site-block__text
	&_grey
		p
			font-size: 16px
			color: rgba(#fff, .7)
			margin-top: 32px

//subsection
.site-subsection__item
	max-height: 85px
	display: flex
	align-items: center
	margin-bottom: 16px
.subsection
	&-logo
		a
			color: #fff
			font-size: 24px 
			margin-bottom: 10px
			img
				margin-right: 8px
	&-name
		p
			font-size: 16px
			color: rgba(#fff, .7)
			margin-bottom: 16px
	&-border
		border-right: 1px solid rgba(#fff, .3)
	&-b
		padding-left: 64px
	&-news
		display: flex
		align-items: center
		a
			font-size: 16px
			margin-left: 25px	
	&_title-block
		p
			font-size: 14px
			color: rgba(#fff, .7)
			text-transform: uppercase
			margin-bottom: 16px

@media screen and (min-width: 992px)
	.navbar
		padding-top: 0px
		padding-bottom: 0px
	.dropdown
		position: static
	.dropdown-menu
		width: 100%
		left: 0
		right: 0
		top: 95%
		display: block
		visibility: hidden
		opacity: 0
		transition: visibility 0s, opacity 0.3s linear
		margin: 0
		border-radius: 0
	.dropdown
		&:hover .dropdown-menu, .dropdown-menu:hover
			display: block
			visibility: visible
			opacity: 1
			transition: visibility 0s, opacity 0.3s linear
	.dropdown-menu
		border: none
		background-color: #002554


@import media 